@import url(https://fonts.google.com/specimen/Red+Hat+Display);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background: url("./images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  overflow: hidden;
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
}

.card-wrapper {
  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  max-width: 25em;
}

.img-hero {
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
  padding: 2rem 3rem 2rem 3rem;
}

.title {
  color: hsl(223, 47%, 23%);
  font-size: 1.5em;
  margin-bottom: 1rem;
  font-weight: 700;
}

.sub-title {
  text-align: center;
  color: hsl(224, 23%, 55%);
  margin-bottom: 1rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  min-width: 100%;
}

.music {
  margin: 20px;
}

.price-desc {
  margin-right: 5rem;
}

.price-plan {
  margin-bottom: 3px;
}

.price-per-year {
  color: hsl(224, 23%, 55%);
}

.change {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
  margin: 20px 20px 20px 0px;
}

.proceed {
  cursor: pointer;
  margin: 2.2rem 0rem 0rem 0rem;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  border-style: none;
  min-width: 100%;
  min-height: 50px;
  border-radius: 10px;
}

.cancel {
  cursor: pointer;
  background-color: #fff;
  color: hsl(245, 75%, 52%);
  border-style: none;
  min-width: 100%;
  min-height: 50px;
  border-radius: 10px;
}

.attribution {
  margin-top: 10rem;
}
